{{- define "main" }}
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    {{- if .Description }}
    <p class="post-description">{{ .Description }}</p>
    {{- end }}
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
  <div class="comments">
    <script src="https://giscus.app/client.js"
            data-repo="cloudream01/cloudream01.github.io"
            data-repo-id="R_kgDOU41MCA"
            data-category="Guestbook"
            data-category-id="DIC_kwDOU41MCM4DG4t_"
            data-mapping="specific"
            data-term="guestbook"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</article>
{{- end }}
